body {
  width: 100%;
  background-color: #ffffff;
  font-weight: 311;
  font-family: "Lexend", Arial, Helvetica, sans-serif;
  margin: 0;
  color: #414141;
}

img {
  width: 52px;
}

header {
  width: 100%;
  padding: 20px 50px;
  background-color: #ed0000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
}
header i {
  width: 25px;
  cursor: pointer;
}
header i img {
  width: 100%;
}
header img {
  cursor: pointer;
}

.cart-logo-counter {
  display: flex;
}

.cart-quantity {
  color: #ffffff;
  border-radius: 1px;
}

.deployMenu {
  width: 290px;
  background-color: #ffffff;
  padding: 25px;
  box-sizing: border-box;
  height: 500px;
  position: fixed;
  left: -85%;
  text-align: start;
  transition: all 0.225s ease-in-out;
  box-shadow: -6px 5px 22px 0px rgb(0, 0, 0);
}
.deployMenu h3 {
  cursor: pointer;
}
.deployMenu i {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
.deployMenu i img {
  width: 20px;
  align-items: end;
  cursor: pointer;
}

.deployMenu.showMenu {
  left: 0%;
}

.banner {
  width: 100%;
  padding: 2px 0;
  text-align: center;
  background-image: url(../img/pumabn2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  display: inline-block;
  background-position-y: top;
  font-size: 22px;
  color: aliceblue;
  text-shadow: 5px 5px 5px #414141;
}

.products {
  width: 80%;
  margin: 0 auto;
  padding: 20px;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  align-items: end;
}
.products article {
  text-align: center;
  cursor: pointer;
}
.products img {
  width: 200px;
  margin: 18px 10px 0px 10px;
}
.products h3 {
  font-weight: 500;
  margin-bottom: 5px;
  font-size: 17px;
}
.products p {
  font-weight: 300;
  font-size: 15px;
}

.addToCart {
  background-color: rgb(59, 59, 59);
  font-weight: 800;
  color: #ffffff;
  width: 50%;
  align-items: center;
  padding: 11px;
  margin: 0 auto;
}

.addToCart:hover {
  background-color: rgb(138, 138, 138);
}

.cart {
  width: 400px;
  background-color: #ffffff;
  padding: 25px;
  box-sizing: border-box;
  height: 100%;
  position: fixed;
  right: -100%;
  top: 100px;
  transition: all 0.225s ease-in-out;
  box-shadow: -6px 5px 22px -12px rgb(0, 0, 0);
}
.cart img {
  width: 30px;
}
.cart div p:first-child {
  font-weight: 500;
}

.cart.showCart {
  right: -1%;
}

.cart-item {
  border-bottom: 1px solid #333;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  box-sizing: border-box;
  font-size: 13px;
  gap: 2px;
}

.removeIcon {
  width: 20px;
  cursor: pointer;
}

@media (max-width: 820px) {
  header {
    padding: 15px;
  }
  .banner {
    height: 130px;
  }
  .banner h2 {
    font-size: 108%;
  }
  .banner p {
    font-size: 105%;
  }
  .products {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
  .products img {
    width: 150px;
  }
  .cart {
    width: 400px;
    top: 80px;
  }
}
@media (max-width: 480px) {
  .banner {
    padding: 0px 0;
  }
  .banner h2 {
    font-size: 18px;
  }
  .banner p {
    font-size: 18px;
  }
  .products {
    grid-template-columns: 1fr;
    padding: 10px;
  }
  .products img {
    width: 100%;
    max-width: 200px;
    margin-bottom: 10px;
  }
  .addToCart {
    margin-bottom: 30px;
  }
  .cart {
    width: 100%;
    box-shadow: none;
  }
  .cart h2 {
    padding: 15px 0;
  }
  .cart div {
    flex-direction: column;
    align-items: center;
  }
  .cart img {
    width: 50px;
  }
  .cart p {
    margin: 0;
  }
}/*# sourceMappingURL=styles.css.map */